<div class="row" align="center">
    <div contenteditable>
     <h1><span style="color: orange">R</span>ussell Gilbert <span style="color: orange">L</span>. <span style="color: orange">D</span>e Castro</h1>
    </div>
    <p>Programmer</p>
    <br/>
</div>
<BR/>

<div class="row">
  <div class="col-sm-6 verticalLine" align="right">
    <p style="font-size:32px">Plan</p>
    <p style="font-size:32px"><BR/>Build</p>
    <p></p>
  </div>

   <div class="col-sm-6" align="left">
    <p style="font-size:32px"><BR/>Design</p>
    <p style="font-size:32px"><BR/>Deploy</p>
  </div>
</div>

<div class="row" align="center" contenteditable>
   <p><i>From front-end, back-end up to deployment.</i></p>
   <BR>
   <HR style="height:1px;border:none;color:#333;background-color:#333;">

   <div>
   <H4>ABOUT ME</H4>
   <p>With over 12 years of experience in software development using <B><I>JavaScript (jQuery,  angularJS and bootstrap), CSS, Adobe Flash (from MX up to CC version), Adobe  Director, Java, Android Studio, Php, HTML and MySQL</B></I>. I have a wide range of knowledge with both online, offline and mobile programming, my 1 year experience in Software Testing also aids me to produce a user friendly and high quality designs.</p>
  </div>
    <a href="https://www.upwork.com/o/profiles/users/_~018323515f2328e40e/" target="_blank">Upwork Profile</a> 
    <BR> <BR>
      <HR style="height:1px;border:none;color:#333;background-color:#333;">
</div>

<!--
<div class="row">
  <div class="col-sm-6" align="right">
    <p style="font-size:20px">ABOUT ME</p>
    <p><BR/>With over 12 years of experience in software development using <B><I>JavaScript (jQuery,  angularJS and bootstrap), CSS, Adobe Flash (from MX up to CC version), Adobe  Director, Java, Android Studio, Php, HTML and MySQL</B></I>. I have a wide range of knowledge with both online, offline and mobile programming, my 1 year experience in Software Testing also aids me to produce a user friendly and high quality designs.</p>
    <p></p>
  </div>

   <div class="col-sm-6" align="left">
    <p style="font-size:20px">UPWORK PROFILE</p>
    <p><BR/><a href="https://www.upwork.com/o/profiles/users/_~018323515f2328e40e/" target="_blank">Upwork Profile</a> </p>
  </div>
</div>-->