<H2>MBTA</H2>

<!--<p>jason length = {{$ctrl.mbtaRes.mode.length}}</p>-->

<p>stop_name = {{$ctrl.mbtaRes.stop_name}}</p>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="mbtaData in $ctrl.mbtaRes.mode">
    <div class="media-body">
      <h4 class="media-heading"><span style="color: black">mode_name = {{mbtaData.mode_name}}</span></h4>
        <div ng-repeat="route in mbtaData.route">
          route_name={{route.route_name}}
          </div>
    </div>
    <!--<p>mode_name = {{mbtaData.mode_name}}</p>-->
  </li>  
</ul>



